# Framework Web (routes, templates, API)
Flask
Flask-SQLAlchemy
Flask-Login
Flask-APScheduler

# Connexion SSH aux serveurs Linux
paramiko

# Communication & API
requests

# Gestion des secrets (.env)
python-dotenv

# Tests automatisés
pytest

# Qualité du code
flake8
